body, html{
  height:100%;
}
body{
  background-image: url("Lighting-Services-Digital-Style-Productions.jpg");
  background-size: cover;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer:hover{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  content: url("https://i.gifer.com/1frv.gif");
  position:absolute;
}

.spinnyDancer{
  position:absolute;
  content: url("https://i.gifer.com/6os.gif");
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  width: 5%;
  height: 25%;
}

.awkwardDancer{
  position:absolute;
  content: url("https://i.gifer.com/40Oj.gif");
  width: 10%;
  height: 25%;
}

.addDancerButton{
  
}

@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}